body {
}

.clear{
    clear:both;
}

.header {
    background-color: black;
    color: white;
}

.slideshow{
    max-width:1920px;
}

.btn-secondary {
    background-color: black !important;
    border: none !important;
}

.header-1 {
    padding: 12px 24px;
}

.dropdown {
    padding: 10px 24px;
    display: inline-block;
    text-decoration: none;
    position: absolute;
}

.dropdown:hover {
    background-color: #ccc;
    color: black;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #ccc !important;
    color: black !important;
}

.header-btn {
    padding: 12px 24px;
    color:white;
    text-decoration:none;
}

    .header-btn:hover {
        background-color: #ccc;
        color: black !important;
        text-decoration:none;
    }

.fa2 {
    display: block;
    float: right !important;
    padding: 14px 24px;
}

.fa2:hover {
    background-color: red;
}

.title{
   
    letter-spacing:6px;
    font-size:30px;
}

.ct {
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
    max-width: 800px;
 
}

.slg{
    opacity:0.60;
}

.nd {
    max-width: 800px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
}

.ct-img {
    padding-top:32px;
    padding-bottom:32px;

}

.img {
    float: left;
    width:33.33333%;
    margin-bottom: 64px;
}


.ct2 {
    background-color: black;
}

.slg2 {
    opacity: 0.60;
    color: white;
    text-align:center;
}

.title2 {
    letter-spacing: 6px;
    font-size: 30px;
    color:white;
    text-align:center;
}

.line {
    border-bottom: solid thin #ccc;
}

.t {
    text-align: start;
    padding: 8px 16px;
}

.month {
    background-color: white;
    list-style: none;
    border: 1px solid #ccc !important;
    padding:0 !important;
   
}

.ct-tour{
    padding-top: 64px;
    padding-bottom: 64px;
    
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
    max-width: 800px;
}

.sold-out {
    text-align: end;
    background-color: #f44336;
    color:white;
}

.sold-out2 {
    text-align: end;
    background-color: black;
    color: white;
    padding: 1px 8px;
    border-radius:20px;
    float:right;
    margin-right:16px;
}



.places-img{
    max-width:100%;
}

.places-img:hover {
    opacity: 0.7;
}

.places-list {
    margin: 32px -8px 0;
    
}

.places-item {
    float: left;
    width: 33.33333%;
    padding:0 8px; 
}

.places-body{
    background-color:white;
    padding:16px;

}

.btn-buy {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 8px 10px;
}
.btn-buy:hover {
    background-color: #ccc;
    color:black;
    text-decoration:none;
       
    }

.ct-dt{
    text-align:start;
    list-style:none;
}

.btn-send{
    float:right;
    background-color:black;
    color:white;
    padding: 10px 15px;
    margin-top:10px;
    margin-right:5px;
    text-decoration:none;
}

    .btn-send:hover {
        background-color: #ccc;
        color: black;
        text-decoration:none;
    }

